[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/jeroennelis/glfw.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/jeroennelis/imgui.git
[submodule "Engine/Dependencies/Maths"]
	path = Engine/Dependencies/Maths
	url = https://github.com/jeroennelis/Maths.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
